services:
  web:
    build: .
    container_name: warships-web
    working_dir: /app
    command: yarn dev --host --port 5173
    ports:
      - '5173:5173'
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/app
      - /app/node_modules
