@use '@/shared/styles/variables' as v;

.btn {
  font-family: Roboto Condensed, Arial Narrow, arial, sans-serif;
  font-weight: 700;
  background-color: v.$color-orange;
  border: 2px solid v.$color-orange;
  color: v.$color-text;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 50px;
  position: relative;
  font-size: 17px;
  line-height: 43px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  transition: color .2s, opacity .2s, width .2s, font-size .2s, background-color .2s, border-color .2s;

  &:hover {
    background-color: v.$color-orange-light;
    border-color: v.$color-orange-light;
    color: v.$color-text;
  }

  &:disabled,
  &.is-disabled {
    color: v.$color-disabled-55;
    background-color: v.$color-disabled-25;
    border-color: v.$color-disabled-25;
    cursor: not-allowed;
    opacity: .7;
  }
}

.btn__sm {
  font-size: 14px;
  line-height: 36px;
  padding: 3px 24px;
}

.btn__block {
  display: block;
  width: 100%;
}