@use '@/shared/styles/variables' as v;
@use '@/shared/styles/breakpoints' as b;

.wrapper {
  background:
          linear-gradient(to bottom, rgba(14, 26, 36, 0) 80%, v.$color-bg 100%),
          linear-gradient(to bottom, v.$color-bg 0%, rgba(14, 26, 36, 0) 10%),

          v.$color-bg url("@/assets/images/bg-list.webp") no-repeat fixed center top;

  @include b.up-sm {
    background:
            linear-gradient(
                            to bottom,
                            v.$color-bg 0%,
                            rgba(14, 26, 36, 0) 100px
            ),
            linear-gradient(
                            to top,
                            v.$color-bg 0%,
                            rgba(14, 26, 36, 0) 100px
            ),
            v.$color-bg url("@/assets/images/bg-list.webp") no-repeat fixed center center;

    background-size: 100% 100%, 100% 100%, cover;
  }
}

.app {
  color: var(--text);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  @include b.up-sm { padding: 40px; }
  @include b.up-md { padding: 60px; }
  @include b.up-lg { padding: 80px; }
}