@use '@/shared/styles/variables' as v;

.search-box {
  position: relative;

  &_input {
    background: v.$color-surface;
    width: 200px;
    height: 40px;
    padding: 5px 24px 5px 5px;
    outline: none;
    color: v.$color-text;
    border-radius: 0;
    caret-color: v.$color-accent;
    border: none;

    &::placeholder {
      letter-spacing: .25px;
    }

    &::-webkit-search-cancel-button, ::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
    }

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
  }

  &_close {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: none;

    svg {
      display: block;

      path {
        stroke: v.$color-text;
      }
    }
  }
}