@use '@/shared/styles/variables' as v;

.filters_group {
  width: 130px;
  position: relative;

  &_title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    appearance: none;
    border: none;
    padding: 0;
    color: v.$color-gray;
    background-color: transparent;
    text-decoration: underline dashed;
    line-height: 1.2;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .43px;
    transition: background .2s ease, border-color .2s ease, opacity .2s ease;

    &:hover {
      color: v.$color-white;
    }
  }

  &_arrow {
    width: 10px;
    height: 10px;
  }

  &_dropdown-body {
    overflow: auto;
  }
}

.filter-block_drop {
  background-color: rgba(0, 0, 0, .9);
  border: 1px solid rgba(102, 102, 102, .5);
  border-radius: 0 0 2px 2px;
  cursor: default;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, .7), 0 5px 10px rgba(0, 0, 0, .25);
  margin-top: 13px !important;
  padding: 5px 0 7px;
  min-width: 100%;
  max-width: 300px;
  min-height: 42px;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 99999;
  transform: translate(-49.5%);
}

.filter-block_drop::before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NDkxMSwgMjAxMy8xMC8yOS0xMTo0NzoxNiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QzU3M0Q5OEY2RjVEMTFFNUJFRkRGQzIxNEMzMUJCQjkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QzU3M0Q5OEU2RjVEMTFFNUJFRkRGQzIxNEMzMUJCQjkiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNEMEMwQkZENDFBQjExRTVCMDY1OUIzODU3OEFGRjNFIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNEMEMwQkZFNDFBQjExRTVCMDY1OUIzODU3OEFGRjNFIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+0u/HCwAAAQFJREFUeNqckU1ugzAQhTGmKU0XzSmyKHt2zSKbWm3SE/DPLofJLXKAnoQ1HIAdoSSKsgBEZ5AduaYhUkZ6sp/nfU9CEG04RLs+nRocC98cIkmXFYbhq/qm5P8sKJcRxzGzbXsH5wd6aSfnLxAGHlBRFDHLsr51XT/iCf5T7KSiHhbQBPQYBIEAD+D3cJ7QwyescM9zoqS/4KMJ4DsGKaUVgqAcVCgFJs8j15sn3/d70DCMH/AlB3O1AHJr8FPOac+u6wqw/AccFHie94UcdRxnmSTJJk3TRdM0WHa+8kvbruu0oijmdV3PGGMVbdt2m2XZG4BkBBwUQP6FoLl3fgUYADdTZprvrNPNAAAAAElFTkSuQmCC) no-repeat;
  margin-bottom: -2px;
  margin-left: -7px;
  width: 15px;
  height: 12px;
  position: absolute;
  bottom: 100%;
  left: 10px;
  content: "";
}